* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame {
    height: 320px;
    width: 480px;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: all 0.5s;
}

.slides>img {
    /* object-fit: cover;  */
    height: 320px;
  }
.btn {
            /* position: absolute; */
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: none;
        place-items: center;
        border-radius: 50%;
        /* z-index: 10px; */
        cursor: pointer;
        background-color: #fff;
        font-size: 18px;      
}
.controls {
    position: absolute;
    top: 49%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
}
.circle {

    width: 15px;
    height: 15px;
border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
/* .circle:hover {
    background-color: aqua;
} */
.slide-nav {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}